#cmd {
  background-color: rgb(12, 12, 12);
  color: white;
  width: 700px;
  height: 400px;
  pointer-events: all;
  position: absolute;
  z-index: 9;
  left: 10%;
  top: 6%;
  display: flex;
  flex-direction: column;
  border: 1px solid #444444c7;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.24),
    0 10px 10px -5px rgba(0, 0, 0, 0.21);
}
.cmd-text-window {
  padding: 2px;
  height: 100%;
  color: #ffffffc4;
  font-size: 14px;
  font-family: monospace;
  overflow-y: scroll;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.toolbar-title {
  flex: 1 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 15px;
}
.toolbar-icon {
  margin: 4px 4px 9px 4px;
}
