#cmd {
  background-color: rgb(12, 12, 12);
  color: white;
  pointer-events: all;
  z-index: 9;
  display: flex !important;
  flex-direction: column;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.24),
    0 10px 10px -5px rgba(0, 0, 0, 0.21);
  cursor: default !important;
}
.cmd-text-window {
  padding: 2px;
  position: absolute;
  color: #ffffffc4;
  font-size: 14px;
  flex: 1 1;
  font-family: monospace;
  overflow-y: scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.toolbar-title {
  flex: 1 1;
  font-size: 12px;
  cursor: default;
  display: flex;
  align-items: center;
  line-height: 15px;
}
.toolbar-icon {
  margin: 4px 4px 9px 4px;
}
