.module-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.program {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
.program > div {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.24),
    0 10px 10px -5px rgba(0, 0, 0, 0.21);
}
.program-fullscreen {
  left: 0px !important;
  right: 0px !important;
  transform: translate(0px, 0px) !important;
  top: 0px !important;
  bottom: 34px !important;
  width: auto !important;
  height: auto !important;
}
.active-program {
  z-index: 10;
}
.open-program {
  display: block !important;
}
.program-content {
  flex: 1;
  position: relative;
}
.cmd-exe {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.browser-exe {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.folder-exe {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.notepad-exe {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.toolbar {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  height: 32px;
}
.program-active {
  outline: 1px solid #444444c7;
}
.program-inactive {
  outline: 1px solid #ffffffc7;
}
.program-active .toolbar {
  color: rgb(26, 26, 26);
}
.program-inactive .toolbar {
  color: rgb(139, 139, 139);
}
.toolbar-btn {
  width: 30px;
  height: 100%;
  border: none;
  background-color: #f7f7f7;
  font-size: 11px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /* z-index: 10; */
}
.toolbar-btn:last-child:hover {
  background-color: rgb(219, 36, 36);
  color: white;
}
.toolbar-btn:hover {
  background-color: #d8d8d8;
}
.toolbar-btn:active {
  background-color: #c9c8c8;
}
.toolbar-btn-collection {
  overflow: hidden;
  display: flex;
}
.program-window-back {
  z-index: 1;
}
.program-window-front {
  z-index: 2;
}

#Menu-page {
  height: 100vh;
  background: url("../images/win-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex-direction: column;
}
.Menu-text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 40px 0;
}
.Menu-buttons {
  padding: 40px 0;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-direction: column;
}
.Menu-buttons > div {
  text-align: center;
  margin: 10px;
  display: flex;
  padding: 4px 0;
  flex-direction: column;
  width: 72px;
  justify-content: space-evenly;
  cursor: pointer;
  color: white;
  font-size: 12px;
  text-shadow: 2px 2px #000000;
}
.Menu-buttons > div:active {
  outline: 2px solid rgba(85, 147, 177, 0.63);
  background-color: rgba(55, 116, 145, 0.17);
}
.Menu-buttons > div:focus {
  outline: 2px solid rgba(97, 137, 156, 0.63);
  background-color: rgba(84, 127, 148, 0.32);
}

.Menu-buttons > div:hover {
  outline: 2px solid rgba(85, 147, 177, 0.63);
  background-color: rgba(55, 116, 145, 0.37);
}
.Menu-buttons img {
  height: 44px;
}
.minimize-animation {
  transform: translate(-50%, -50%);
}

.preview-full {
  /* position: absolute;
   top: 50px;
   left: 70px; */
  width: 500px !important;
  height: 300px !important;
  /* margin: 0 !important; */
}

@keyframes createBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(6);
  }
}
