#start-menu-wrapper {
  position: absolute;
  bottom: 35px;
  background-color: #060606dc;
  height: 50vh;
}
#start-menu-wrapper img {
  width: 20px;
  color: white;
}
#start-menu {
  height: 100%;
  display: flex;
}
#start-menu > div {
  display: flex;
}
/* Left column */
#start-menu > div:nth-child(1) {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 40px;
  justify-content: space-between;
}
#start-menu > div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-menu-icon {
  width: 40px;
  height: 40px;
  /* padding: 1px; */
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-menu-icon:hover {
  background-color: #575757dc;
}
#start-menu > div:nth-child(2) {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: auto;
  padding-left: 10px;
}
#start-menu > div:nth-child(3) {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: space-between;
}
#start-menu > div:nth-child(2) > div {
  line-height: 32px;
  padding: 2px 4px;
  font-size: 14px;
  cursor: default;
}
#start-menu > div:nth-child(2) > div:hover {
  /* background-color: #575757dc; */
}
.start-menu-list-item {
  display: flex;

  /* margin: 1px; */
}
.start-menu-list-item:hover {
  display: flex;
  background-color: #575757dc;
  /* margin: 1px; */
}
.start-menu-list-item :nth-child(1) {
  width: 30px;
  justify-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: rgba(51, 16, 212, 0.84);
  align-items: center;
}
.start-menu-list-item :nth-child(2) {
  color: white;
  flex: auto;
  padding-left: 4px;
}
.start-menu-right-col {
  display: flex;
  flex-wrap: wrap;
}
.start-menu-right-col > div {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  margin: 4px;
}
.start-menu-right-col > div > img:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #fff;
  -moz-box-shadow: 0px 0px 0px 2px #fff;
  box-shadow: 0px 0px 0px 2px #fff;
  opacity: 0.88;
}
.start-menu-right-col > div > img {
  height: 100%;
  width: 100% !important;
}
